<?xml version="1.0" encoding="UTF-8"?>

<phpunit

        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
        backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="TestfieldUnit">
            <directory>./testfield/tests/Unit</directory>
        </testsuite>
        <testsuite name="TestfieldFullstack">
            <directory>./testfield/tests/MagentoHackathon/Composer/FullStack</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>

    <coverage
            includeUncoveredFiles="true"
            processUncoveredFiles="false"
    >
        <include>
            <directory suffix=".php">app/code</directory>
            <directory suffix=".php">../app/code</directory>
            <directory suffix=".php">lib</directory>
            <directory suffix=".php">../lib</directory>
        </include>
        <exclude>
            <file>../app/bootstrap.php</file>
            <file>../app/code/core/Mage/Admin/Model/Acl/Assert/Ip.php</file>
            <file>../app/code/core/Mage/Admin/Model/Acl/Assert/Time.php</file>
            <directory>app/code/core/Mage</directory>
            <directory>../app/code/core/Mage</directory>
            <directory>app/code/core/Mage/*/sql</directory>
            <directory>app/code/core/Mage/Admin/sql</directory>
            <directory>app/code/core/Mage/Catalog/sql</directory>
            <directory>app/code/core/Mage/CatalogIndex/sql</directory>
            <directory>app/code/core/Mage/CatalogInventory/sql</directory>
            <directory>app/code/core/Mage/CatalogRule/sql</directory>
            <directory>app/code/core/Mage/CatalogSearch/sql</directory>
            <directory>app/code/core/Mage/Checkout/sql</directory>
            <directory>app/code/core/Mage/Cms/sql</directory>
            <directory>app/code/core/Mage/Core/sql</directory>
            <directory>app/code/core/Mage/Cron/sql</directory>
            <directory>app/code/core/Mage/Customer/sql</directory>
            <directory>app/code/core/Mage/Log/sql</directory>
            <directory>app/code/core/Mage/Newsletter/sql</directory>
            <directory>app/code/core/Mage/Paygate/sql</directory>
            <directory>app/code/core/Mage/Paypal/sql</directory>
            <directory>app/code/core/Mage/Reports/sql</directory>
            <directory>app/code/core/Mage/Review/sql</directory>
            <directory>app/code/core/Mage/Sales/sql</directory>
            <directory>app/code/core/Mage/SalesRule/sql</directory>
            <directory>app/code/core/Mage/Sendfriend/sql</directory>
            <directory>app/code/core/Mage/Shipping/sql</directory>
            <directory>app/code/core/Mage/Tag/sql</directory>
            <directory>app/code/core/Mage/Usa/sql</directory>
            <directory>app/code/core/Mage/Tax/sql</directory>
            <directory>app/code/core/Mage/Wishlist/sql</directory>
        </exclude>
        <report>
            <clover outputFile="./tests/clover.xml"/>
            <crap4j outputFile="./tests/crap4j.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="./tests/junit.xml"/>
    </logging>
</phpunit>
